<!DOCTYPE html>
<html lang="en">

<head>
  <title>Estudiantes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="\">JP</a>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/t1jp">Github</a>
          </li>

        </ul>
      </div>
    </nav>  
  </header>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Datos del Estudiante</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/crud_estudiantes" method="POST">
            <div class="mb-3 mt-3">
              <label for="text" class="form-label">Id:</label>
              <input type="text" class="form-control" id="txt_id" name="txt_id" placeholder="0" readonly/>
            </div>
            <div class="mb-3 mt-3">
              <label for="text" class="form-label">Carne:</label>
              <input type="text" class="form-control" id="txt_carne" name="txt_carne" placeholder="EXXX"
                onchange="validation(this);" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Nombres:</label>
              <input type="text" class="form-control" id="txt_nombres" name="txt_nombres" placeholder="Ingrese Nombres" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Apellidos:</label>
              <input type="text" class="form-control" id="txt_apellidos" name="txt_apellidos"
                placeholder="Ingrese Apellidos" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Direccion:</label>
              <input type="text" class="form-control" id="txt_direccion" name="txt_direccion"
                placeholder="Ingrese Direccion" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Telefono:</label>
              <input type="text" class="form-control" id="txt_telefono" name="txt_telefono"
                placeholder="Ingrese Telefono" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Email:</label>
              <input type="text" class="form-control" id="txt_email" name="txt_email" placeholder="Ingrese Email" required/>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Genero:</label>
              <select name="genero" id="genero" class="form-select" required />
                <option value="Start" selected>Seleccione </option>
                <option value="1">Man</option>
                <option value="0">Woman</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Fecha Nacimiento:</label>
              <input type="date" class="form-control" id="txt_fecha_nacimiento" name="txt_fecha_nacimiento"
                placeholder="Ingrese Fecha Nacimiento" required/>
            </div>


            <button type="submit" class="btn btn-outline-success" id="btn_agregar" name="btn_agregar" value="Agregar">Agregar</button>
            <button type="busubmittton" class="btn btn-outline-warning" id="btn_modificar" name="btn_modificar" value="Modificar">Modificar</button>
            <button type="submit" class="btn btn-outline-danger" id="btn_eliminar" name="btn_eliminar" value="Eliminar"
              onclick="javascript:if(!confirm('Desea Eliminar Este Estudiante?')) return false">Eliminar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="container mt-3">
    <h2>Estudiantes</h2>
    <p>Lista de Estudiantes</p>
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearF();">
      Nuevo
    </button>
    <br />
    <br />
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Carne</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Genero</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>
      <tbody id="tbl_estudiantes">
        <%students.forEach((student)=>{%>
          <tr data-id_estudiante="<%=student.id_estudiante%>">
            <td><%=student.carne%></td>
            <td><%=student.nombres%></td>
            <td><%=student.apellidos%></td>
            <td><%=student.direccion%></td>
            <td><%=student.telefono%></td>
            <td><%=student.email%></td>
            <%if(student.genero== 1){%>
            <td>Man</td>
            <%}else{%>
              <td>Woman</td>
              <%}%>
            <td><%=student.fecha_nacimiento%></td>
          </tr>
          <%});%>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $('#tbl_estudiantes').on('click','tr td',(evnt)=>{
      var target;
      var id_estudiante,carnet,nombres,apellidos,direccion,telefono,correo_electronico,fecha_nacimiento;
      target = $(evnt.target);
      id_estudiante=target.parent().data('id_estudiante');
      carnet=target.parent("tr").find("td").eq(0).html();
      nombres=target.parent("tr").find("td").eq(1).html();
      apellidos=target.parent("tr").find("td").eq(2).html();
      direccion=target.parent("tr").find("td").eq(3).html();
      telefono=target.parent("tr").find("td").eq(4).html();
      correo_electronico=target.parent("tr").find("td").eq(5).html();
      var genero=target.parent("tr").find("td").eq(6).html();
      fecha_nacimiento=target.parent("tr").find("td").eq(7).html();
      $('#txt_id').val(id_estudiante);
      $('#txt_carne').val(carnet);
      $('#txt_nombres').val(nombres);
      $('#txt_apellidos').val(apellidos);
      $('#txt_direccion').val(direccion);
      $('#txt_telefono').val(telefono);
      $('#txt_email').val(correo_electronico);
      (genero=="Man")?$('#genero').val(1):$('#genero').val(0);
      $('#txt_fecha_nacimiento').val(fecha_nacimiento);
      $('#myModal').modal('show');

    });
  </script>
  <script>

    function clearF(){
      $('#txt_id').val('');
      $("#txt_carne").val("");
      $("#txt_nombres").val("");
      $("#txt_apellidos").val("");
      $("#txt_direccion").val("");
      $("#txt_telefono").val("");
      $("#txt_email").val("");
      $("#txt_fecha_nacimiento").val("");    
      $("#genero").val("Start");  
    }
  </script>
  <script>
    const validation=(valor)=>{
      const regex = /(^E{1})(\d{3})$/;
      if(!regex.test(valor.value)){
        valor.setCustomValidity('El formato del carnet es incorrecto debe ser entre E001-E999');
      }else{
        valor.setCustomValidity('');
      }
      return true;
    };
  </script>
</body>

</html>